<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewData["Title"] - AnglaNetPages0.0</title>
        <!--<link rel="stylesheet" type="text/css" href="~/LayoutStyles.css">-->
        <!--<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />-->
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
